<form action="/create-new-post" method="POST" enctype="multipart/form-data">
  <label>
    Content
    <input type="text" name="content" placeholder="Random stringas" />
  </label>

  <label>
    Image
    <input type="file" name="picPath" />
  </label>

  <label>
    Title
    <input type="text" name="picName" placeholder="Title of the picture" />
  </label>

  <button type="submit">Save</button>
</form>